<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
    <ul>
        <li>ID: @review.ReviewId</li>
        <li>User: @review.User</li>
        <li>Country: @review.Country</li>
        <li>City: @review.City</li>
        <li>Date: @review.Date</li>
        <li>Rating: @review.Rating</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
    <br>
}
</ol>

